* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#section {
  background: #D8D8D8;
  padding: 10px 20px 50px;
  margin: 50px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(exercise-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.3rem;
  height: 100vh;

}
h1 {
  margin: 30px auto;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 2px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

hr {
  margin: 25px 40%;
  border-top: 0;
  border-bottom: 8px dotted grey;

}

footer {
  margin-top: 120px;
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.form-list {

  text-align: center;
}

.clear-btn {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
}

.calculate-btn {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
}

.clear-btn:hover {
  background-color: #E21818
}
.calculate-btn:hover {
  background-color: #0B4619
}

.formular {
  margin-bottom: 20px;
}
